@import "./mixin/button";
.header {
  position: relative;
  .logo {
    text-align: center;
    padding: 25px 0;
  }
  &__btn-back {
    position: absolute;
    left: 0;
    top: 45%;
    border-radius: 0.1rem;
  }

  .locations {
    text-align: center;
    padding: 20px 0;
    background: #eaeaea;
    color: #353535;
    font-size: 1.2rem;

    i {
      padding-right: 20px;
    }
  }

  .explore {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    background: #f6f6f6;
    text-align: center;

    &__title {
      width: 240px;
      margin: 0 auto;
    }

    &__content {
      width: 300px;
      margin: 0 auto;
    }

    &__btn {
      @include button;
    }
  }


}

@media screen and (min-width: $tab) {
  .logo {
    font-size: 3.5rem;
  }
}