.header {
  position: relative;
  .logo {
    text-align: center;
    padding: 25px 0;
  }
  &__btn-back {
    position: absolute;
    left: 0;
    top: 45%;
    border-radius: 0.1rem;
  }

  .locations {
    text-align: center;
    padding: 20px 0;
    background: #eaeaea;
    color: #353535;
    font-size: 1.2rem;

    i {
      padding-right: 20px;
    }
  }

  .explore {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    background: #f6f6f6;
    text-align: center;

    &__title {
      width: 240px;
      margin: 0 auto;
    }

    &__content {
      width: 300px;
      margin: 0 auto;
    }

    &__btn {
      color: #fff;
      font-size: 1.1rem;
      padding: 10px 20px;
      border-radius: 25px;
      background: linear-gradient(148deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
      width: 240px;
      margin: 0 auto;
      border: none;
      outline: transparent;
      transition: 0.5s all ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }


}

@media screen and (min-width: $tab) {
  .logo {
    font-size: 3.5rem;
  }
}